header{
    text-align: center;
    color: #f8f4e1;
    background-color: #27391C;
    padding:30px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 100px;
    font-size: 22px;
    border: 2px solid #3D6F2C;
}

body{
    background-color: #18230F;
}

#coloredsection{
    background-color: #27391C;
    margin-top: 20px;
    border-radius: 100px;
    padding-block: flex;
    color: #3D6F2C;
    padding-bottom: flex;
    border: 2px solid #3D6F2C;
}

#text{
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

button{
    background-color: #27391C;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 50px;
    outline: none;
}

button:hover{
    background-color: #27391C;
    color: #3D6F2C;
    border: 2px solid #3D6F2C;
    outline: none;
    cursor: pointer;
}

#buttons{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-right: 20px;
}

a {
    color: #3D6F2C;
}


.topnav {
    background-color: #27391C;
    padding:10px;
    text-align:center;
    border-radius: 100px;
    
}

.topnav a {
    color: #3D6F2C;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
}


.topnavk a {
    color: #3D6F2C;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}

.topnav a:hover {
    background-color: #3D6F2C;
    border-radius: 100px;
    color: #f8f4e1;
}

#form{
   border-radius: 100px;
   background-color: #27391C; 
   border: 2px solid #3D6F2C;
   margin-top: 20px;
   text-align: center;
   font-family: 'Courier New', Courier, monospace;
   color:#3D6F2C;

    h2{
        font-size: 30px;
    }

    label{
        font-size: 20px;
    }

    #title, #author, #genre, #thoughts{
        font-size: 18px;
        margin-bottom: 20px;
        margin-top: 5px;
        width: 300px;
        height: 25px;
        color:#3D6F2C;
        background-color: #18230F;
        font-family: 'Courier New', Courier, monospace;
        border-radius: 100px;
    }

    #submitbutton{
        font-size: 20px;
        background-color: #27391C;
        color:#3D6F2C;
        border-radius: 100px;
        padding: 10px;
        margin-bottom: 20px;
        font-family: 'Courier New', Courier, monospace;
    }
}

button{
    text-align: center;
    align-items: center;
}

#seriestitle{
    font-size: 20px;
    text-align: center;
    color: #3D6F2C;
    font-family: 'Courier New', Courier, monospace;
    background-color: #27391C;
    border-radius: 100px;
    padding: 10px;
    margin-top:20px;
    border:2px solid #3D6F2C;
}

#seriessection{
    text-align: center;
}

#fantasysection, #romancesection, #mysterysection, #classicssection, #favoritesection, #TBRsection{
    text-align: center;
    margin-top: 20px;
}




/* color palette: https://colorhunt.co/palette/18230f27391c255f381f7d53*/ 